@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80vh;
  width: 90vw;
  min-width: 750px;
  background-color: hsl(273, 75%, 66%);
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-size: 12px;
  color: hsl(237, 12%, 33%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faqPage {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  max-height: 50%;
  overflow: hidden;
}

.leftColumn {
  background-image: url("images/bg-pattern-desktop.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 340px;
}

#womanImage {
  width: 100%;
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
}

#boxImage {
  position: absolute;
  left: -16%;
  top: 75%;
  transform: translateY(-75%);
  width: 140px;
  height: auto;
  z-index: 1;
}

.rightColumn {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.rightColumn > h1 {
  width: 100%;
  margin-bottom: 20px;
}

.qAndA {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.questions {
  background-color: white;
  border: none;
  border-top: 1px solid hsl(238, 29%, 16%);
  outline: none;
  cursor: pointer;
  padding: 12px 0;
  transition: 0.4s;
  text-align: left;
  width: 100%;
}

.questions:after {
  content: "˅";
  float: right;
}

.active,
.questions:hover {
  color: orange;
  font-weight: 700;
}

.active:after {
  content: "˄";
  float: right;
}

.answers {
  width: 320px;
  padding-top: -2px;
  padding-bottom: 12px;
  font-size: 0.9em;
  background-color: white;
  display: none;
  overflow: hidden;
  text-align: left;
}
